@*Index Home *@
@model BTH1_WEB.Models.Expression
@{
    ViewBag.Title = "Các phép tính 1";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @*@Html.Label("Số thứ 1")*@
        @Html.LabelFor(m => m.Number1) <br/>
        @Html.TextBoxFor(m => m.Number1)
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Number1)</span>
    </div>
    <div class="form-group">
        @*@Html.Label("Số thứ 2")*@
        @Html.LabelFor(m => m.Number1) <br />
        @Html.TextBoxFor(m => m.Number2)
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Number1)</span>
    </div>
    <div class="form-group form-check">
        <input type="submit" value="+" class="btn btn-primary" name="command" />
        <input type="submit" value="-" class="btn btn-primary" name="command" />
        <input type="submit" value="x" class="btn btn-primary" name="command" />
        <input type="submit" value="/" class="btn btn-primary" name="command" />
    </div>
    <div class="form-group">
        <p>
          
                @if (Model.Error != "")
                {
                        <b>@Model.Error</b>
                }
                else
                {
                        <b> @String.Format("Kết quả: {0:0.##}", Model.Result)</b>
                }
        </p>
    </div>
}
