@model BTH1_WEB.Models.Expression

@{
    ViewBag.Title = "Các phép tính 2";
}

<h2>@ViewBag.Tilte</h2>

@using (Html.BeginForm("Calculate", "Caculator", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group list-inline" style="margin: 0;">
        @Html.TextBoxFor(m => m.Number1, new { @class = "form-control mb-2 mr-sm-2" })
    </div>
    <div class="form-group list-inline" style="margin: 0;">
        @Html.DropDownListFor(m => m.Operator, new[]
        {
            new SelectListItem{Text="+", Value="+"},
            new SelectListItem{Text="-", Value="-"},
            new SelectListItem{Text="x", Value="x"},
            new SelectListItem{Text="/", Value="/"},
        }, new { @class = "form-control" })
    </div>
    <div class="form-group list-inline mb-2 mr-sm-2" style="margin: 0;">
        @Html.TextBoxFor(m => m.Number2, new { @class = "form-control" })
    </div>
    <div class="form-group list-inline mb-2 mr-sm-2" style="margin: 0;">
        =
    </div>
    <div class="form-group list-inline mb-2 mr-sm-2" style="margin: 0;">
        @if (Model.Error == "")
        {
            <span>
                @Html.TextBox(Model.Result.ToString(), String.Format("{0:0.##}", Model.Result), new { @class = "form-control mb-2 mr-sm-2", @readonly = "readonly" })
            </span>
        }
        else
        {
            <span>
                @Html.TextBoxFor(m => m.Error , new { @class = "form-control mb-2 mr-sm-2", @readonly = "readonly" })
            </span>
        }

    </div>
    <div class="form-group list-inline" style="margin: 0;">
        <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Tính</button>
    </div>
}

